{% extends 'base.html' %}

{% block title %} Login {% endblock %}
  
{% block content %}
  <div class="container h-100">
    <div class="row align-items-center my-4">
      <div class="col-6 mx-auto">
        <form action="{% url 'register' %}" method="POST">
          
          {% csrf_token %}

          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="username">
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email"  class="form-control" name="email" id="email">
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input type="password"  class="form-control" name="password" id="password">
          </div>

          <div class="form-group">
            <label for="password2">Repeat password</label>
            <input type="password"  class="form-control" name="password2" id="password2">
          </div>

          <div class="form-group ">
            <label for="registration">Registration</label>
            <input type="number" name="registration" class="form-control" id="registration">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control" id="name">
          </div>

          <div class="form-group">
            <label for="scholarship">It is scholarship?</label>
            <input 
              type="checkbox" 
              name="scholarship" 
              class="form-control col-sm-1" 
              id="scholarship"
              value="True">

              <label>Yes.</label>
          </div>

          <button type="submit" class="btn btn-success btn-block">Register</button>
        </form>
      </div>
    </div>
    <div class="row align-items-center">
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                {{ message }}
              </li>
            {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}