{% extends "base.html" %} 

{% block title %}Student Form{% endblock %}

{% block content %}
  <form action="{% url 'get_student' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="id">Key</label>
      <input type="number" name="id" class="form-control" id="id">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
{% endblock %}
